@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;\a \a 500;700;900&display=swap");
.header_wrapper {
  background-color: #0F2F95;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden-menu-ticker {
  display: none;
}

.logo {
  -ms-flex-preferred-size: 111px;
      flex-basis: 111px;
  margin: 24px 0;
}

.menu {
  margin-left: 70px;
  margin-right: 100px;
}

.hidden-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-item {
  list-style: none;
  padding-bottom: 7px;
}

.list-item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.list-item:hover {
  padding-bottom: 7px;
  border-bottom: solid 3px #F5543F;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item {
  text-decoration: none;
  color: #ffffff;
}

.contact-item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.main_screen_wrapper {
  background-image: url(../image/m_s_bg.png);
  background-repeat: no-repeat;
}

.main_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.m_s_f_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 136px;
}

.m_s_s_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 62px;
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
  margin-left: 89px;
  margin-bottom: 52px;
}

.m_s_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 34px;
}

.m_s_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 47px;
}

.m_s_btn button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #F5543F;
  border-color: #F5543F;
  border-style: solid;
  padding: 25px 46px;
  border-radius: 8px;
}

.m_s_image {
  overflow: hidden;
}

.befenite_block {
  margin-top: 120px;
  margin-bottom: 170px;
}

.befenite_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0039A9;
  padding-bottom: 40px;
  padding-top: 120px;
  margin: 0;
}

.befenite_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.befenite_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F7F9FC;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 44px 111px 44px 54px;
  border-radius: 20px;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
}

.befenite_item:not(:last-child) {
  margin-right: 30px;
}

.befenite_row:last-child {
  padding-bottom: 170px;
}

.befenite_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.befenite_row_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #383838;
}

.befenite_row_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.content_wrapper {
  max-width: 1330px;
  padding: 0 40px;
  margin: 0 auto;
}
